<div class = "container-fluid" >

  <h2 class = "text-center mt-4" >Product Details</h2><hr>
  <p class = "lead" >
    <label><strong>Product ID : </strong></label>
    <%= @nproduct.id %>
  </p>
  <p class = "lead" >
    <label><strong>Product Name : </strong></label>
    <%= @nproduct.name %>
  </p>
  <p class = "lead" >
    <label><strong>Product Description : </strong></label>
    <%= @nproduct.description %>
  </p>
  <p class = "lead" >
    <label><strong>Product Price : </strong></label>
    <%= @nproduct.price %>
  </p>

<%= link_to 'Back', { controller: 'nproducts', action: 'index'}, class: "btn btn-primary" %>
