<html>
<head>
  <link rel="styles.css">
</head>
<body id="b3">
  <div class="container">
    <%= form_for @student, data: { turbo: false }, url: {action: :update} do |f| %>
      <u><h2>Edit Student</h2></u>
      <%= "<div>#{@student.errors.full_messages.first}</div>".html_safe if @student.errors.any? %>
        <p>
          <div>
            <label>Student First Name</label>
            <%= f.text_field :first_name %>
          </div>
          <div>
            <label>Student Last Name</label>
            <%= f.text_field :last_name %>
          <div>
            <label>Student Date of Birth</label>
            <%= f.text_field :stu_dob %>
          </div>
          </div>
          <div>
            <label>Student Department</label>
            <%= f.text_field :dept %>
          <div>
          <div>
            <%= f.check_box :terms_of_usage%>
            <label>I agreed with terms of usage.</label>
          </div>
        </p>
        <div>
          <%= link_to 'Back', { controller: 'students', action: 'index'} %>
          <%= f.submit 'Update Student' %>   
        </div>
    <% end %>
  </div>
</body>
</html>
