<!DOCTYPE html>
<html>
  <head>
    <link rel="styles.css">
  </head>
  <body id="b">
    <div class="container">
        <u><h2>Product1s</h2></u>
        
        <table class="tabl" >
          <thead>
            <tr>
              <th>Title</th>
              <th>Description</th>
              <th>Price</th>
              <th>Capacity</th>
              <th>Active</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
          <% @product1s.each do |product1| %>
            <tr>
              <td><%= product1.title %></td>
              <td><%= product1.description %></td>
              <td><%= product1.price %></td>
              <td><%= product1.capacity %></td>
              <td><%= product1.is_active %></td>
              <td><%= product1.status %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
    </div>
  </body>
</html>
