<html>
<head>
  <link rel="styles.css">
<head>
<body id="b2">
  <div class="container">
    <u><h2>Author Details</h2></u>
    <div>
      <label>First Name: </label>
        <%=@author.first_name%>  
    </div>
    <div>
      <label>Last Name: </label>
        <%=@author.last_name%>  
    </div>
    <div>
      <label>Date of Birth: </label>
        <%=@author.dob%>  
    </div>
    <div>
      <label>Email: </label>
      <%=@author.email%>
    </div>
    <div>
      <% @author.books.each do |f| %>
      <span><b>Book Id:</b></span> <%= f.id %><br><span><b> Book Name:</b></span> <%= f.name %><br>
      <% end %>
    </div>
    <div>
      <%=link_to'Back',{controller:'authors',action:'index'}%>
    </div>
  </div>
</body>
<html>
