<div class = "container-fluid" >
  <h2>Edit an Event</h2><hr>

  <% if @event.errors.any? %>
    <h2> The following errors prevented the event details from being saved ! </h2>
    <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li> <%= msg %> </li>
      <% end %>
    </ul>
  <% end %>

  <%= form_with scope: :event, url:events_path, local: true do |f| %>
    <div class = "field form-group" >
      <%= f.label :name%>
      <%= f.text_field :name, class:"form-control" %>
    </div>
    <div class = "field form-group" >
      <%= f.label :description%>
      <%= f.text_field :description, class:"form-control" %>
    </div>
    <div class = "field form-group" >
      <%= f.label :event_date%><br>
      <%= f.date_select :event_date, class:"form-control" %>
    </div>
    <div class = "action" >
      <%= f.submit "Edit", class:"btn btn-secondary" %>
    </div><br>
    <div class = "field form-group" >
      <%= link_to 'Back', { controller: 'events', action: 'index'} %>
    </div>
  <% end %>

</div>
