<br><div class = "container-fluid" >
  <h2 class = "text-center mt-4" >Edit an Event</h2><br>

  <% if @event.errors.any? %>
    <h4> The following errors prevented the events details from being saved ! </h4>
    <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li> <%= msg %> </li>
      <% end %>
    </ul>
  <% end %>

  <%= form_with  model: @event, local: true do |f| %>

    <div class = "field form-group" >
      <strong><%= f.label :Event_Name%></strong>
      <%= f.text_field :name, class:"form-control" %>
    </div><br>

    <div class = "field form-group" >
      <strong><%= f.label :description%></strong>
      <%= f.text_field :description, class:"form-control" %>
    </div><br>

    <div class = "field form-group" >
      <strong><label>Event Date : </label></strong>
      <%= f.date_field :event_date, class:"form-control" %>
    </div><br>

    <div>
      <strong><label>Usser Name : </label></strong>
      <%= f.select :usser_id, Usser.all.map { |p| [p.user_name, p.id]}, class:"form-control" %>
    </div><br>

    <div>
      <strong><label>Event Category : </label></strong>
      <%= f.select :category_id, Category.all.map { |p| [p.category_name, p.id]}, class:"form-control" %>
    </div><br>

    <div align="center">
      <div class = "action" >
        <%= f.submit "Edit", class:"btn btn-secondary" %>
      </div>
    </div><br>

    <div align="center">
      <div class = "field form-group" >
        <%= link_to 'Cancel', { controller: 'events', action: 'index'} %>
      </div>
    </div>

  <% end %>

</div>
