<div class = "container" >
  <h2>Create an Event</h2><hr>

  <%= "<div>#{@event.errors.full_messages.first}</div>".html_safe if @event.errors.any? %>

  <%= form_with scope: :event, url:events_path, local: true do |f| %>
    <div class = "field form-group" >
      <%= f.label :name%>
      <%= f.text_field :name, class:"form-control" %>
    </div>

    <%= f.number_field :usser_id, value: 1, class:"form-control" %>

    <div class = "field form-group" >
      <%= f.label :description%>
      <%= f.text_field :description, class:"form-control" %>
    </div>

    <div class = "field form-group" >
      <%= f.label :event_date%><br>
      <%= f.date_select :event_date, class:"form-control" %>
    </div>

    <div class = "action" >
      <%= f.submit "Create", class:"btn btn-secondary" %>
    </div><br>

    <div class = "field form-group" >
      <%= link_to 'Back', { controller: 'events', action: 'index'} %>
    </div>
  <% end %>

</div>
