<div class = "container-fluid " >
  <h2 class = "text-center mt-4" >User Details</h2><hr>
  
  <p class = "lead" >
    <label><strong>User ID : </strong></label>
    <%= @newuser.id %>
  </p>
  <p class = "lead" >
    <label><strong>User Name : </strong></label>
    <%= @newuser.name %>
  </p>
  <p class = "lead" >
    <label><strong>User Email : </strong></label>
    <%= @newuser.email %>
  </p>
  <p class = "lead" >
    <label><strong>User Picture : </strong></label>
    <%= image_tag @newuser.picture.url(:thumb), class:"img-responsive img-thumbnail"%>
  </p>

  <div class = "text-center">
    <%= link_to 'Back', { controller: 'newusers', action: 'index'}, class: "btn btn-primary" %>
  </div>
</div>
