<h1 class="text-center mt-4"><%= @usser.user_name %>'s Profile</h1>

<div class="container mt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-7">
      <div class="card p-3 py-4 p-3 mb-5 bg-white">
        <div class="text-center"> <img src="https://www.w3schools.com/bootstrap5/img_avatar3.png" width="100" class="rounded-circle"> </div>
          <div class="text-center mt-3"> 
            <h5 class="mt-2 mb-0"><%= @usser.user_name %></h5> <span><%= @usser.user_email %></span>
            

            <div><br>
              <table class = "table table-bordered">
                <thead class = "table-dark">
                  <tr>
                    <th> Event Name </th>
                    <th> Event Description </th>
                    <th> Event Date </th>
                    <th> Event Actions </th>
                  </tr>
                </thead>
                <tbody>
                  <% @events.each do |event| %>
                    <tr>
                      <td><%= event.name %></td>
                      <td><%= event.description %></td>
                      <td><%= event.event_date %></td>
                      <div>
                        <td>
                          <%= link_to 'Show', event_path(event) %>
                          <%= link_to 'Edit', edit_event_path(event) %>
                          <%= button_to 'Delete', event_path(event), class:"btn btn-danger",method: :delete %>
                        </td>
                      </div>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>

            <div class="px-4 mt-1">
              <% if logged_in? %>
                <%= link_to "Edit Profile", edit_usser_path, class:"btn btn-primary" %> </div><br>
            </div>
                
            <% end %>
      </div>
    </div>
  </div>
</div>

<h3 class="text-center mt-4"><%= @usser.user_name %> enrolled these events !</h3><br>

<div class="container">
  <% if logged_in? && @usser == current_user %>
    <% current_user.enrollments.each do |enroll| %>
      <div class="card">
        <div class="card-header">
          <h5 class="card-title"><%= enroll.event.name %> </h5>
        </div>
        <div class="card-body">
          <p class="card-text"><%= enroll.event.description %></p>
        </div>
      </div><br>
    <% end %>
  <% end %>
</div>
