<!DOCTYPE html>
<html>
  <head>
    <link rel="styles.css">
  </head>
  <body id="b">
    <div class="container">
      <u><h2>Orders</h2></u>
        
        <div>
          <%= link_to 'Add Order', new_order_path %>
        </div><br>

        <%= form_tag orders_path, :method => 'get' do %>
          <p>
            <%= text_field_tag :search, params[:search], placeholder:'Search by order status' %>
            <%= submit_tag "Search" %>
          </p>
        <% end %>

        <table class="tabl" >
          <thead>
            <tr>
              <th>Customer Name</th>
              <th>Email</th>
              <th>Phone Number</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
          <% @orders.each do |order| %>
            <tr>
              <td><%= order.customer.fname %> <%= order.customer.lname %></td>
              <td><%= order.customer.email %></td>
              <td><%= order.customer.phone_number %></td>
              <td><%= order.order_status %></td>
              <div>
                <td>
                  <%= link_to 'Show', order_path(order) %>
                  <%= link_to 'Edit', edit_order_path(order) %>
                  <%= button_to 'Delete', order_path(order), method: :delete %>
                </td>
              </div>
            </tr>
          <% end %>
          </tbody>
        </table>
    </div>
  </body>
</html>
