<html>
  <head>
    <link rel="styles.css">
  </head>
  <body id="b1">
    <div class="container">
      <%= form_for @order, data: { turbo: false }, url: {action: :create} do |f| %>
        <div>
          <u><h2>Add Order Details</h2></u>
        </div>
        <div>
          <p>
            <%= "<div>#{@order.errors.full_messages.first}</div>".html_safe if @order.errors.any? %>
            <div>
              <label>Order Quantity : </label>
              <%= f.text_field :quantity %>
            </div>
            <div>
              <label>Customer Name : </label>
              <%= f.select :customer_id, Customer.all.map { |c| [c.fname + " " + c.lname, c.id]} %>
            </div>
            <div>
              <label>Product Name : </label>
              <%= f.select :product1_id, Product1.all.map { |p| [p.title, p.id]} %>
            </div>
            <div>
              <label>Order Status : </label>
              <%= f.select :order_status, Order.order_statuses.keys %>
            </div>
          </p>
        </div>
        <div>
          <%= link_to 'Back', { controller: 'orders', action: 'index'} %>
          <%= f.submit 'Create order' %>
        </div>
      <% end %>
    </div>
  </body>
</html>
