<div class = "container" >
  <h2 class = "text-center mt-4" >Change the Password</h2>

  <div>
    <% if flash[:errors] %>
      <% flash[:errors].each do |error| %>
        <p class="text-danger"><%= error %></p>
      <% end %>
    <% end %>
  </div>

  <%= form_with(model:@juser, method: :patch, url:update_password_juser_path, local: false, data: {turbo: false}) do |f| %>
   
    <div class = "field form-group" >
      <strong><%= f.label :password %></strong>
      <%= f.password_field :password, class:"form-control", id: "password_field", oninput: "check_pass();" %>
      <p class="text-danger" id="error_password"></p>
    </div><br>

    <div class = "field form-group" >
      <strong><%= f.label :password_confirm %></strong>
      <%= f.password_field :password_confirm, class:"form-control", id: "password_confirm_field", onchange: "check_pass();" %>
      <p class="text-danger" id="error_password_confirm"></p>
    </div><br>

    <div class="text-center">
      <div class = "action" >
        <%= f.submit "Update", data: { disable_with: "Saving..." }, class: "btn btn-success", id: "submit" %>
      </div>
    </div><br>

  <% end %>

  <div class="text-center">
    <div class = "field form-group" >
      <%= link_to 'Cancel', { controller: 'jusers', action: 'index'}, class: "btn btn-danger" %>
    </div>
  </div>
</div>

<script>
  function check_pass() {
    var pswd = document.getElementById('password_field').value
    var confirm_pswd = document.getElementById('password_confirm_field').value
    var rex = /^[a-zA-Z0-9_-]{8,15}$/;
    if (!rex.test(pswd)) {
      document.getElementById("error_password").innerHTML="Minimum 8 Characters Required!";
    } else {
      document.getElementById("error_password").innerHTML=""
    }
    if (pswd == confirm_pswd) {
      submit.style.display = 'block';
      document.getElementById("error_password_confirm").innerHTML=""
    } else {
      submit.style.display = 'none';
      document.getElementById("error_password_confirm").innerHTML="Password and Confirm Password must be same!";
    }
  }
</script>
