<div class = "container" >
  <h2 class = "text-center mt-4" >User Profile Page</h2>

  <% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
      <p class="text-danger"><%= error %></p>
    <% end %>
  <% end %>

  <%= form_with(model:@juser, method: :patch, url:update_profile_juser_path, local: false, data: {turbo: false}) do |f| %>
    
    <div class = "field form-group" >
      <strong><%= f.label :first_name %></strong>
      <%= f.text_field :first_name, class:"form-control" %>
    </div><br>

    <div class = "field form-group" >
      <strong><%= f.label :last_name %></strong>
      <%= f.text_field :last_name, class:"form-control" %>
    </div><br>

    <div class = "field form-group", id = "user_email" >
      <strong><%= f.label :user_email %></strong>
      <%= f.email_field :email, class:"form-control", oninput: "show_pass()" %>
    </div><br>

    <div class = "field form-group", id = "user_password" >
      <strong><%= f.label :password %></strong>
      <%= f.password_field :password, class:"form-control" %>
    </div><br>

    <div class = "field form-group", id = "subscribe" >
      <strong><%= f.label :subscription %></strong>
      <%= f.check_box :subscription, onclick: "show_sub_email(this)" %>
    </div><br>

    <div class = "field form-group", id = "sub_email" >
      <strong><%= f.label :subscription_email %></strong>
      <%= f.email_field :subscription_email, class:"form-control" %>
    </div><br>

    <div class="text-center">
      <div class = "action" >
        <%= f.submit "Update", data: { disable_with: "Saving..." }, class: "btn btn-success" %>
      </div>
    </div><br>

    <div class="text-center">
    <div class = "field form-group" >
      <%= link_to 'Cancel', { controller: 'jusers', action: 'index'}, class: "btn btn-danger" %>
    </div>
  </div>
  <% end %>

  <div class="text-center", id = "juser">
  </div>
</div>

<script>
  function show_pass() {
    var pswd = document.getElementById("user_password");
    if (pswd.style.display === "none") {
      pswd.style.display = "block";
    }    
  }

  function show_sub_email(SubscriptionCheck) {
    var submail = document.getElementById("sub_email");
    if (SubscriptionCheck.checked) {
      submail.style.display = "block"
    } else {
      submail.style.display = "none"
    }
  }
</script>
