<div class = "container" >
  <h2 class = "text-center mt-4" >Add Order Details</h2><br>

  <% if @norder.errors.any? %>
    <h4> The following errors prevented the orders details from being saved ! </h4>
    <ul>
      <% @norder.errors.full_messages.each do |msg| %>
        <li> <%= msg %> </li>
      <% end %>
    </ul>
  <% end %>

  <%= form_with model: [@nproduct, @norder], local: true do |f| %>
    <div class = "field form-group" >
      <strong><%= f.label :order_quantity %></strong>
      <%= f.text_field :quantity, class:"form-control" %>
    </div><br>
    <div class = "field form-group" >
      <strong><%= f.label :product_name %></strong><br>
      <%= f.select :nproduct_id, Nproduct.all.map { |p| [p.name, p.id]} %>
    </div><br>
    <div class="text-center">
      <div class = "action" >
        <%= f.submit "Save", class:"btn btn-success" %>
      </div>
    </div><br>
    <div class="text-center">
      <div class = "field form-group" >
        <%= link_to 'Cancel', norders_path, class: "btn btn-danger" %>
      </div>
    </div>
  <% end %>
  
</div>
