<div class = "container" ><br>
  <h2 class = "text-center mt-4" >Add Order Details</h2><br>

  <% if @anorder.errors.any? %>
    <h4> The following errors prevented the orders details from being saved ! </h4>
    <ul>
      <% @anorder.errors.full_messages.each do |msg| %>
        <li> <%= msg %> </li>
      <% end %>
    </ul>
  <% end %>

  <%= form_with model: [@anproduct, @anorder], local: true do |f| %>
    <div class = "field form-group" >
      <%= f.label :order_quantity %>
      <%= f.text_field :quantity, class:"form-control" %>
    </div><br>
    <div class = "field form-group" >
      <%= f.label :product_name %> :<br>
      <%= f.select :anproduct_id, Anproduct.all.map { |p| [p.product_name, p.id]} %>
    </div><br>
    <div class="text-center">
      <div class = "action" >
        <%= f.submit "Save", class:"btn btn-success" %>
      </div>
    </div><br>
    <div class="text-center">
      <div class = "field form-group" >
        <%= link_to 'Cancel', anproduct_path(@anproduct), class: "btn btn-danger" %>
      </div>
    </div>
  <% end %>
  
</div>
