<div class = "container-fluid" ><br>

  <h2 class = "text-center mt-4" >Product Details</h2><hr><br>
  <p class = "lead" >
    <label><strong>Product ID : </strong></label>
    <%= @anproduct.id %>
  </p>
  <p class = "lead" >
    <label><strong>Product Name : </strong></label>
    <%= @anproduct.product_name %>
  </p>
  <p class = "lead" >
    <label><strong>Product Description : </strong></label>
    <%= @anproduct.product_description %>
  </p>
  <p class = "lead" >
    <label><strong>Product Price : </strong></label>
    <%= @anproduct.product_price %>
  </p>
  
  <%= link_to 'Back', { controller: 'anproducts', action: 'index'}, class: "btn btn-primary" %>

</div>
